@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
 
 
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
     

}
.container{
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px;
    border-radius: 5px;
    margin-top: 21px;

}
 hr{
    border: 1px solid #D1D1D1;
}

/* top players style */
.top-players{
    margin-bottom: 30px;

}
.section-title{
    color: #562EFF;
    font-style: normal;
    margin-top: 3px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
  
    width: 56px;
    height: 56px;

}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}
/* top blog styles */


 .blogs{ 
     display: grid;
      /* grid-column-gap: 344px; */
    grid-template-columns: repeat(2,1fr);
    
}
.blog{
     display: flex; 
     margin-top: 26px;

}
.blog .thumbnail img{
    width: 177px;
    height: 177px;


}
.blog-info{

    margin-left: 16px;
    width: 244px;
    font-weight: 500;
}
.blog-title{
     
    font-size: 20px;
    
     
 

}
 .blog-auther{
    color: #9F9F9F;
    font-size: 16px; 
    font-size: 16px; 
} 
.blog-auther a{
    text-decoration: none;
    font-size: 16px;
    color: #562EFF;

}

/* courses styles */
.course .corse-banner img{
    width: 224px;
    height: 104px;
    margin-top: 26px;

}
.fa-star{
    font-size: 12px;
}
.fa-solid.filled{
   color:#FFC014 ;
 
}
.fa-solid.empty{
    color: #AEAEAE;
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.course-duration{
    margin-right: 40px;
background: #FFE4E8;
border-radius: 14.6913px;
 
 
font-weight: 600;
 
color: #FF4A60;
}
.courses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 24px;
    
}
.course{
    width:252.42px ;
    height:269.79px ;
}
 .p-d a{
    text-decoration: none;
    color: #ED6B4F;
 }

@media only screen and (max-width:688px) {
    .container{
        width: 100%;
    }

    .player{
        flex-direction: column;
    }
    .players{
        display:grid;
       grid-template-columns: repeat(2,0.5fr);
     
    }
    .section-title{
        display: flex;
        justify-content: center;
    }
    .blogs{
        grid-template-columns: repeat(1,1fr);
    }
    .course{
        margin-top: 20px;
    }
    .courses{
        margin-left: 90px;
        grid-template-columns: repeat(1,1fr);
    }

        
    
}
